html {
font-size: 18px;
line height: 1.4rem;
}

body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  background-color: white;

  h1 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1rem;
  }

}

.container960 {     /* This sets up a "box" for everything that needs to*/
  max-width: 960px; /* fit into a 960px frame.  Note that max-width is used */
  margin: 0 auto;   /* to allow smooth resizing. */
}

/**************
   HEADER
***************/

header {
  height: 30rem;
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 1rem;
}

.logo-nav {
  height: 4rem;
  background-color: cadetblue;

  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 4rem;

  display: flex;
  align-items: center;
}



.logo img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

.logo p{
  color: white;
}

nav {
  background-color: cadetblue;
  color: white;
}

ul {
  list-style: none;
  margin: 0;
}

li {
  text-align: right;
  display: inline-block;
  padding: 1.0rem 2.0rem;
}

/**********
  TAG-LINE
***********
*/

header .tag-line-container {
  display: flex;
  justify-content: flex-end;
}


.tag-line {
  margin-top: 10rem;
  margin-right: -2rem;

  background-color: white;
  padding: 1.5rem 5rem;
  line-height: 2.4;

  display: flex;
  display: inline-block;
}

.tag-line h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0;
}

header .tag-line-small {
  height: 3rem;
  margin-top: 9rem;
  max-width: 960px;
  background-color: white;

  display:flex;
  align-items: center;
  justify-content: center;
}

.tag-line-smaller h1{
  font-size: 1rem;
  text-align: center;
}

/*************
   FEATURES
**************/

.main {
  height: 11rem;
  max-width: 960px; /* fit into a 960px frame.  Note that max-width is used */
  margin: 0 auto;
  padding-top: 3rem;
/*  border: thin solid red; /**********************/
}

.features{
  height: 8rem;

  display: flex;
  justify-content: center;
  align-items: flex-start;
/*  border: thin solid blue;  /**********************/
}

.feature {
  display: inline-block;
  align-items: flex-start;
  justify-content: center;
  margin: 0 3rem;
/*  border: thin dashed green;  /**********************/
}

 .feature-image-paper img{
  width: 3.5rem;
  margin-left: 2.25rem;
  margin-bottom: 1.5rem;
}
.feature-image-ruler img{
  width: 5rem;
  margin-bottom: 3.3rem;
}
.feature-image-truck img {
  width: 5rem;
  margin-bottom: 2.75rem;
}

.textbox {
  text-align: center;
}

/*************
   BIZ-INFO
**************/

.biz-info-container {
  width: 57.33rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* border: thin solid blue;  /**********************/
}

.topic {
  width: 35%;
  display: inline-block;
  align-items: flex-start;
  justify-content: center;
  margin-right: 5%;
  /* border: thin solid red; /**********************/
}

.topic-header {
  width: 60%;
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
}

.topic-header h3 {
  color: white;
}

.topic-text {
  width: 35%;
  font-weight: normal;

}

.topic-text h3{
  font-weight: normal;
    margin-top: 1rem;
}


/*************
   FOOTER
**************/

footer {
  margin: 0 auto;
  width: 57.33rem;
  height: 9.5rem;
  background-color: azure;
  margin-top: 4rem;
  /*  border: thin solid red;   /****************************/
  display: flex;
  align-items: center;
}


.logo-footer {
  display: flex;  /* was inline-flex */
  align-items: center;
  /*  border: thin solid green;   /***************************/
}

 .logo-footer img{
  height: 1.5rem;
  margin-left: 4rem;
  /* border: thin solid blue;   /**************************/
}

.copyright h3{
  font-weight: normal;
}


@media only screen and (min-width: 471px) {
  .nav960 {
    display: none;
  }
header .tag-line-small {
    display: none;
  }

  .logo-footer-small {
    display: none;
  }
} /* for media >471px */


@media only screen and (max-width: 960px) {

  .logo-nav {
    top: 0rem;
  }
  .company-name {
    display: none;
  }
  header {
  height: 22rem;
  padding-top: 0rem;
  }
  .tag-line {
    margin-top: 5rem;
    margin-right: 2rem;
    padding: 0.75rem 4rem;
  }
  .tag-line h1 {
    font-size: 1.33rem;
  }
}  /* for media <=960px */

@media only screen and (max-width: 470px) {

  html {
    font-size: 16px;
   }
  header {
    height: 17rem;
    background-position: 25%;
    padding-top: 0rem;
    /* border:thin solid red; ****************/
    }
  header .tag-line-container {
    display: none;
  }
  .nav-large {
    display: none;
  }

  .main {
    height: auto;
    max-width: 960px;
    margin: 0 auto;
      padding-top: 3.77rem;
  }

  .features{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .feature {
    display: flex;
    flex-direction: column;

    align-items: center;
  }
  .feature-image-paper img{
   width: 3.5rem;
   margin-left: 0;
   margin-bottom: 1rem;
 }
 .feature-image-ruler img{
   width: 5rem;
   margin-bottom: 1rem;
   margin-top: 1.54rem;
 }
 .feature-image-truck img {
   width: 5rem;
   margin-bottom: 1rem;
   margin-top: 1.54rem;
 }
 .textbox {
   text-align: center;
   font-size: 0.77rem;
 }


 .biz-info-container {
  width: 100%;
   margin: 3.77rem auto;
  /* display: flex;*/
   flex-direction: column;
  /* justify-content: center; */
   align-items: center;
   /* border: thin solid blue;  /**********************/
 }

 .topic {
   width: 100%;
   display: inline-block;
   /* align-items: flex-start; */
   justify-content: center;
   margin: 0 0 4rem 0;

   /* border: thin solid red; /**********************/
 }

 .topic-header {
   width: 100%;
   background-color: cadetblue;
   padding: 0.5rem 1.25rem;
 }

 .topic-header h3 {
   color: white;
   text-align: center;
 }

 .topic-text {
   width: 35%;
   font-weight: normal;

 }

 .topic-text h3{
   font-weight: normal;
     margin: 1rem 0.5rem 0 0.5rem;
     font-size: 0.77rem;
 }

 .logo-footer {
   justify-content: center;

 }

footer {
  justify-content: center;
  width: 100%;
}

.logo-footer img {
  margin-left: 0;
  margin-right: 0;
}

.copyright h3 {
  display: none;
}

}  /* for media <=470px */
